/* purgecss start ignore */
@tailwind base;

@layer base {
  * {
    /* font-size: 10px; */
    font-size: 16px;
    scrollbar-gutter: stable both-edges;
    @apply font-sans text-grey;
  }

  @supports not (scrollbar-gutter: auto) {
    html {
      overflow-y: scroll;
    }
  }
}

@tailwind components;
/* purgecss end ignore */

@tailwind utilities;
